<div class="form-security">
    <form method="post" action="{{ path('show_delete', {'id': show.id}) }}" onsubmit="return confirm('Êtes-vous sûr.e ' +
 'de vouloir supprimer ce spectacle ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ show.id) }}">
        <button class="btn btn-lg btn-dark button-form">Supprimer</button>
    </form>
</div>