{% extends 'base.html.twig' %}

{% block title %}Nouveau Spectacle{% endblock %}

{% block body %}
    <div class="container-fluid footer-bas">
        <h1 class="h3 mb-5">Créer un nouveau spectacle</h1>
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        {{ include('show/_form.html.twig') }}

        <a href="{{ path('show_index') }}" class="button-pink"><span>Retour à la liste</span></a>
    </div>
{% endblock %}

