.nav-flex{
  padding-bottom: 20px;
}

.navbar-logo{
  width: 20%;
  margin-left: 10%;
}

.item-navbar{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .nav-a{
    transition: 0.4s;
    .nav-text{
      font-size: 1.4rem;
      color: $brown-color;
    }
  }
}

.active{
    color: $wild-color !important;
}

.navbar-toggler{
  .navbar-toggler-icon{
    margin-top: 0 !important;
  }
}


/*--------------RESPONSIVE------------------*/
@media screen and (max-width: 1025px) {
  nav {
    box-shadow: 3px 3px 5px #aaa;
  }

  .item-navbar{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav-a{
      .nav-text{
        font-size: 1.15rem;
      }
    }
  }
}


@media screen and (max-width: 990px) {
  .nav-flex{
    display: flex;
    justify-content: space-around;
  }
  .navbar-logo{
    margin-left: 0;
  }
  .item-navbar{
    .nav-a{
      .nav-text{
        font-size: 1.3rem;
      }
    }
  }
}