.form-security{
  margin: 40px auto;
  max-width: 70%;
  .login-form{
    max-width: 600px !important;
    margin-bottom: 30px !important;
  }
}



@media screen and (max-width: 799px) {
  .form-security{
    max-width: 95%;
  }
}

@media screen and (max-width: 450px) {
  .form-security{
    max-width: 100%;
  }
}