@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:400,700|Cabin:400,500,600,700&display=swap);

$typography-title: 'Cabin Sketch', cursive;
$typography-text: 'Cabin', sans-serif;

$wild-color : #f76e6e;
$brown-color : #574240;
$pink-color : #bfa5a3;
$back : #f3eed9;
