@import url('https://fonts.googleapis.com/css?family=Montserrat|Rye&display=swap');

$typography-title: 'Rye', cursive;
$typography-text: 'Montserrat', sans-serif;

$wild-color: #f76e6e;
$brown-color: #574240;
$pink-color: #bfa5a3;
$back: #f3eed9;
