<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Wild Circus{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    {% include 'navbar.html.twig' %}
</header>
{% if app.user %}
<h2 class="text-center pt-3 pb-3">Bonjour Administrateur !</h2>
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% endif %}
        {% block body %}
        {% endblock %}
        <footer>
            {% include 'footer.html.twig' %}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
</body>
</html>
