<div class="footer-all">
    <div class="bloc-footer1">
        <img src="{{ asset('build/img/LOGO.png') }}" class="footer-logo"
             alt="logo Wild Circus">
        <a class="nav-a"
           href="{{ path('app_home') }}"><span class="nav-text">Accueil</span></a>
        <a class="nav-a"
           href="#"><span class="nav-text">Artistes</span></a>
        <a class="nav-a"
           href="#"><span class="nav-text">Tarifs</span></a>
        <a class="nav-a"
           href="#"><span class="nav-text">Pré-réservation</span></a>
        <a class="nav-a"
           href="#"><span class="nav-text">Contact</span></a>
    </div>
    <div class="bloc-footer2">
        <a href="#"><span>CGV</span></a>
        <p>© Copyright 2019 Wild Code School - Céladon Malika</p>
    </div>
</div>

