<html>
    <body>
        <section>
                <h1 style="font-size: 20px; color: #f76e6e;">Bonjour</h1>
                <table>
                    <tr>
                        <td>Objet :</td>
                        <td>{{ contact.object }}</td>
                    </tr>
                    <tr>
                        <td>Nom :</td>
                        <td>{{ contact.name }}</td>
                    </tr>
                    <tr>
                        <td>Message :</td>
                        <td>{{ contact.message | nl2br }}</td>
                    </tr>
                    <tr>
                        <td>Email de la personne à contacter :</td>
                        <td>{{ contact.email }}</td>
                    </tr>

                </table>
        </section>
    </body>
</html>
