{% extends 'base.html.twig' %}

{% block body %}
    <div class="container footer-bas">
        <h1>Bienvenue sur le Wild Circus</h1>
        <h2>Qui sommes-nous ?</h2>

        <p>Ouvert en 2016, nous sommes en résidence depuis février 2019 au 9 allée Serr 33100 Bordeaux.
            Nous sommes une équipe composée de 8 permanents et d’une trentaine d’artistes en prestations exceptionnelles.
            <br>Découvrez nos artistes et nos performances.</p>

        <a class="button-pink" href="{{ path('artist_index') }}"><span>En savoir plus</span></a>
        <img src="{{ asset('build/cirque.png') }}" alt="cirque" class="img-home">
        <div class="infos">
            <h2>Informations pratiques</h2>
            <p>Le cirque est ouvert les mercredis, samedis et dimanches, toutes les semaines et toute l’année
                (jours fériés inclus).</p>
            <a class="button-pink button-plus" href="{{ path('show_index') }}"><span>Consulter nos tarifs</span></a>
{#            <a class="button-pink button-plus" href="#"><span>Pré-réserver</span></a>#}
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2829.0300007812943!2d-0.5631052486887446!3d44.84132238270599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd55262da405554f%3A0x5a26a7039ce944d6!2s9+All%C3%A9e+Serr%2C+33072+Bordeaux!5e0!3m2!1sfr!2sfr!4v1563352458912!5m2!1sfr!2sfr"
                    frameborder="0" style="border:0;" class="img-home map-g" allowfullscreen></iframe>
        </div>

    </div>

{% endblock %}
